*{
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
}
.heading{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
#cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 23%;
    box-shadow: 0 0 3px 2px palevioletred;
    text-align: center;
    margin-bottom: 2em;
}
#cardso{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cardo{
    width: 23%;
    box-shadow: 0 0 3px 2px rgb(112, 154, 216);
    text-align: center;
    margin-bottom: 2em;
}